{{ define "teams.message" }}
{
  "@type": "MessageCard",
  "@context": "http://schema.org/extensions",
  "summary": "testing",
  "themeColor": "FF0000",
  "title": "testing",
  "sections": [
    {
      "activityTitle": " testing",
      "activitySubtitle": "critical"
    }
   ]
}
{{ end }}
